@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-light: #232f3e;
  --color-default: #131921;
  --color-text: #111111;
  --color-blue: #0066c0;
  --color-orange: #c7511f;
  --color-yellow: #ffd814;
  --color-yellow-hover: #f7ca00;
  --color-secondary: #ffa41c;
}

body {
  font-family: Arial, sans-serif;
}
/* ------login--------- */
.a-box {
  border: 1px solid #ddd;
  border-radius: 4px;
}
.a-button-primary {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid #a88734;
  border-color: #a88734 #9c7e31 #846a29;
}
.a-button-primary:hover {
  background: linear-gradient(to bottom, #f5d78e, #eeb933);
}
/* ------login End--------- */
